.style-movement{
    border-radius: 10px;
}

.first-table-head{
    border-radius: 100px;
}
.style-table-head th{
    background-color: #008384;
    color: white;
}
  
.table:not(:last-of-type) {
    margin-bottom: 1px; 
}

.table{
    table-layout: fixed;
}

.table-head th {
    background-color: #052145;
    color: white; 
}

.accordion-style{
    background-color: rgb(216, 225, 235);
}

.button-style-category{
    height: 30px;
    margin-bottom: 1px;
    display: flex;
    width: 100%;
    padding: 0.75rem 1.25rem;
    
}

.icon-accordion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-colap{
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) .icon-colap {
    transform: rotate(180deg);
}

.style-button-add-movement{
    display: flex;
    justify-content: end;
}