.main-logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.main-logo-img-container {
  width: 60px;
}
.main-logo-img {
  width: 100%;
}

.main-logo-span {
  font-family: var(--font-primary);
  font-size: 1.5em;
  color: var(--text-primary);
}
