.div-general-calendar {
  display: flex;
  justify-content: end;
  height: 40px;
  position: relative;
}
.input-date-expense {
  height: 100%;
  border-radius: 0.25rem;
  width: 150px;
}

.btn-icon-expense {
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  background: #008384;
}

.div-calendar {
  position: absolute;

  background-color: rgb(148, 132, 132);
  border: 1px solid #008384;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: auto;

  top: 100%;
  left: 10;
  z-index: 10;
}

.calendar-style{
    background-color: #042f67 !important;
    font-size: black;
}



