.signup-main-container {
  display: flex;
  flex-direction: column;
}

.signup-nav {
  background-color: var(--bg-section-nav);
}

.signup-btn-back-container {
  width: fit-content;
  margin-left: 50px;
  margin-top: 30px;
}

.signup-h1 {
  color: var(--text-primary);
  font-family: var(--font-tertiary);
  text-align: center;
  font-size: 3.5em;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 60px 300px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--text-primary);
  margin: 0 10px;
}

.divider span {
  padding: 0 10px;
  font-size: 1.2em;
  color: var(--text-primary);
}
