.layout-container {
    display: flex;
    margin-top: 56px;
    height: calc(100vh - 56px);
  }
  
  .sidebar {
    width: 80px;
    background-color: rgb(216, 225, 235);
    padding-top: 20px;
    overflow-y: auto;
  }
  
  .main-content {
    flex: 1;
    padding: 0px;
    overflow-y: auto;
  }