.card-option-detail {
  background-color: rgb(216, 225, 235);
}

.nav-option-ul {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.nav-option-detail-a {
  border: 1px solid white !important;
  color: rgb(0, 110, 255) !important;
}

.nav-option-detail-a:hover {
  background-color: #324e6e !important;
}

.calendar-expense-container {
  display: flex;
  align-items: center;
}