.btn-google {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 25px !important;
  padding: 5px 20px !important;;
  background-color: var(--btn-primary) !important;
  border: 3px solid var(--btn-primary) !important;
  border-radius: 7px !important;
  color: var(--text-primary) !important;
  font-family: var(--font-tertiary) !important;
  font-size: 1.3em !important;
  transition: 0.2s !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3) !important;
}

.btn-google:hover {
  background-color: transparent !important;
  transform: scale(1.1)  !important;
}

.btn-google:active {
  transform: scale(0.9) !important;
}
