.principal-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  height: 100vh;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}

.principal-container section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.background-video {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  overflow: hidden;
  opacity: 0.6;
  height: 100vh;
  place-content: center;
}

.background-video video {
  width: 100%;
}

.main-text {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.main-title {
  font-size: 4em;
  font-family: var(--font-primary);
}

.main-subtitle {
  font-size: 2em;
  font-family: var(--font-tertiary);
}

.main-mision {
  display: flex;
  place-content: center;
  align-items: center;
  gap: 7vw;
}

.main-mision-section-left,
.main-mision-section-right {
  height: 70vh;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 13px 13px 10px rgba(0, 0, 0, 0.3);
}

.main-mision-section-left {
  background-color: var(--bg-paragraph);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
}

.main-mision-section-left p {
  font-family: var(--font-tertiary);
  font-size: 1.2em;
  margin-top: 10%;
}

.main-mision-section-right {
  overflow: hidden;
}

.main-mision-section-right img {
  width: 100%;
  object-fit: cover;
}

.mision-left-img {
  width: 50%;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
}

.mision-left-img img {
  width: 100%;
}

.main-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: fit;
  border-radius: 20px;
  box-shadow: 13px 13px 10px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
}

.main-services h1 {
  text-align: center;
  margin: auto;
}

.services-img {
  max-width: 200px;
  overflow: hidden;
}

.services-img img {
  width: 100%;
}

.services-container {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.services-container > div {
  box-shadow: 13px 13px 10px rgba(0, 0, 0, 0.3);
  width: 30%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-paragraph);
  padding: 20px;
  gap: 10px;
}

.services-container p {
  font-family: var(--font-tertiary);
}

.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 20%;
  border-radius: 20px;
  box-shadow: 13px 13px 10px rgba(0, 0, 0, 0.3);
  background-color: whitesmoke;
  padding: 10px;
  gap: 30px;
}

.contact-container {
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.contact-container a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}
