

.nav-link {
  color: #333;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #e9ecef;
  font-weight: bold;
}

.active {
  background-color: #5da4ea;
  font-weight: bold;
}

.nav-sidebar-link{
  padding: 20px 20px;
  width: 100%;
  margin-top:0%;
  justify-content: center;
  display: flex;
}