.container-home {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.graph-section {
  grid-row: 1/7;
  justify-content: space-between !important;
}

.flows-section {
  grid-row: 2/7;
}

@media (width < 1070px) {
  .container-home {
    display: flex;
    flex-direction: column;
  }
}

@media (width < 1633px) {
  .graph-section-header {
    justify-content: space-between !important;
  }
  .graph-section-header div {
    position: relative !important;
  }
}

.container-home section {
  border-radius: 25px;
  background-color: var(--bg-section-nav);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graph-section-header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.graph-section-header span {
  color: var(--text-primary);
  font-family: var(--font-tertiary);
  font-size: 1.3em;
}

.graph-section-header div {
  position: absolute;
  right: 0;
}

.btn-add-movement-section {
  align-items: end !important;
}

.financial-overview {
  width: 100%;
}
