@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Poppins&family=Roboto:ital,wght@0,400;1,900&display=swap");

:root {
  --font-primary: "Inter";
  --font-secondary: "Roboto";
  --font-tertiary: "Poppins";
  --bg-section-nav: #052145;
  --bg-secondary-nav: rgb(21, 21, 21);
  --bg-secondary-nav-alt: rgb(53, 50, 50);
  --bg-primary: #042f67;
  --btn-primary: #008384;
  --btn-secondary: #1b73b0;
  --text-primary: #f7fbfe;
  --text-muted: #97abcd;
  --bg-check: #56a9e8;
  --bg-paragraph: #ffffff;
  --text-body: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< HEAD
=======
body {
  background-color: var(--bg-primary);
}
>>>>>>> 2c544cf8bb4b37331e7cef209caf21a3e3f44dab
